@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

body {
    background-color: #151615;
    color: #C4974F;
}

header,
footer {
    background-color: #1e242b;
    /* border-top: solid #C4974F;
    border-bottom: solid #C4974F; */
    padding: 5px;
    text-align: center;
}

header nav .navNormal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

header nav .navMobile,
header nav .logoMobile,
header nav .mobileMenu,
header .navMobile {
    display: none;
}

header nav .navNormal a:has(img) {
    display: flex;
    height: fit-content;
    border-radius: 50%;
    outline: 1px solid transparent;
}

header nav .navNormal a:has(img):focus-within {
    outline: 1px solid #daa248;
}

header a:not(a:has(img)) {
    padding: 8px;
    outline: 1px solid transparent;
    border-radius: 12px;
}

header a:not(a:has(img)):hover,
header a:not(a:has(img)):focus-within {
    padding: 8px;
    outline: 1px solid #daa248;
    background-color: #1b1b1b;
}

header a,
footer a,
main .link {
    text-decoration: none;
    color: #C4974F;
    transition: .4s;
}

header nav a:hover,
footer a:hover,
main .link:hover {
    font-size: 1.2em;
    color: #daa248;
}

.footerFixo {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer {
    /* border: 1px solid #C4974F; */
    border-left: 0;
    border-right: 0;
}

footer img {
    width: 23px;
    margin-bottom: 5px;
}

footer a {
    width: fit-content;
    margin: auto;
    /* border: solid #C4974F; */
    display: flex;
    align-items: center;
}

footer p {
    margin-top: 10px;
    color: #C4974F;
}

/* CSS DO ALERT */
.mensagem {
    padding: 15px;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    font-weight: bold;
    animation: fadeIn 0.3s ease;
}

.mensagem.sucesso {
    background-color: #28a745;
    /* verde */
}

.mensagem.erro {
    background-color: #dc3545;
    /* vermelho */
}

/* CSS geral ↑↑↑↑↑↑*/

/* CSS index/home ↓↓↓↓↓↓*/
.slider {
    max-width: 100%;
    margin: 0 auto;
    /* position: relative; */
    overflow: hidden;
    /* background-color: #443b61; */
}

.banner {
    width: 400%;
    /* height: 400px; */
    display: flex;
}

.slider input {
    display: none;
}

.imagensBanner {
    width: 25%;
    /* position: relative; */
    transition: 1.5s;
}

.imagensBanner img {
    width: 100%;
    /* margin-left: 5%; */
    object-fit: contain;
}

.navegacaoManual {
    position: absolute;
    margin-left: 5%;
    width: 90%;
    margin-top: -8%;
    display: flex;
    justify-content: center;
}

.botaoManual {
    border: 2px solid #fff;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.botaoManual:not(:last-child) {
    margin-right: 40px;
}

.botaoManual {
    background-color: #231061;
}

.botaoManual:hover {
    background-color: #ff9900;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

main .titulos {
    margin: 70px;
    font-size: 2.5em;
    text-align: center;
    font-family: "Inter";
    font-style: italic;
}

/* main img {
    width: 100%;
} */

main .seta {
    transition: .5s;
    cursor: pointer;
    width: 35px;
    height: 45px;
    margin: 15px;
}

main .seta:hover {
    scale: 1.1 !important;
}

main .alinhamento,
main #cardsQuemSomos {
    width: 70%;
    margin: 60px auto;
    display: flex;
    align-items: center;
}

main #barbearias .alinhamento {
    flex-wrap: nowrap;
    width: 90%;
}

main #carrossel {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
}

main #carrossel::-webkit-scrollbar {
    display: none;
}

/* main #carrossel img {
    width: 200px;
} */

main .caixaGeral {
    position: relative;
    transition: 0.5s !important;
    width: fit-content;
    padding: 10px;
    text-align: center;
    background-color: #222222;
    box-shadow: 0px 6px 15px #ad700e;
    border: .5px solid #ad700e;
    border-radius: 20px;
    margin: 20px;
    transition: .5s;
}

main .caixaGeral:hover {
    /* scale: 1.1; */
}

main .caixaGeral .fotoBarbearia {
    max-width: 203px;
    border-radius: 15px;
}

main .nomeEstabelecimento {
    margin-top: 10px;
}

main .caixaGeral .localizacao,
main .caixaGeral .contato,
main .caixaGeral .sinopse,
main #quemSomos p {
    color: white;
    font-size: 1.07em;
}

main .caixaGeral p span {
    color: red;
}

main .caixaGeral .avaliacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    /* margin: auto; */
    padding: 20px 0;
}

main .caixaGeral .localizacao,
main .caixaGeral .contato,
main .caixaGeral .nomeEstabelecimento {
    text-align: left;
    margin-left: 15px;
    padding: 2px;
}

main .caixaGeral .avaliacao img {
    max-width: 100px;
    margin-left: -60px;
}

main .caixaGeral button,
main .caixaServico button,
main .caixaFuncionario button,
main .funcionarioSelecionado button {
    background-color: #C4974F;
    color: white;
    width: 60%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

main .caixaGeral button:hover {
    width: 70%;
    padding: 10px;
}

main #cardsQuemSomos {
    position: relative;
    height: 450px;
    width: 600px;
    /* border: solid #C4974F; */
}

main .cards {
    position: absolute;
    width: 200px;
    top: 40px;
    border: solid #C4974F;
}

main #cardDaEsquerda2 {
    z-index: 1;
    top: 80px;
    left: -20px;
    transform: rotate(157deg);
}

main #cardDaEsquerda1 {
    z-index: 2;
    top: 30px;
    left: 40px;
    transform: rotate(167deg);
}

main #cardDoMeio {
    z-index: 3;
    top: -10px;
    left: 200px;
}

main #cardDaDireita1 {
    z-index: 2;
    top: 20px;
    left: 350px;
    transform: rotate(8deg);
}

main #cardDaDireita2 {
    z-index: 1;
    top: 80px;
    left: 410px;
    transform: rotate(23.6deg);
}

main #quemSomos p {
    width: 60%;
    margin: auto;
}

main #quemSomos #imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

main #quemSomos #imagens img {
    max-width: 380px;
    height: 200px;
    margin: 5px 0;
}

main #quemSomos .alinhamento p {
    width: 40%;
}

/* CSS escolherCadastro */
main .alinhamento .caixas {
    width: 200px;
    height: 180px;
    padding: 20px;
    border: solid #C4974F;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: #b88738;
    transition: .5s;
}

main .alinhamento .caixas:hover {
    scale: 1.1;
}

main .alinhamento .caixas img {
    height: 100px;
    width: 100px;
}

/* CSS cadastros (cliente e barbearia) */
main form,
main #caixa {
    text-align: center;
    min-width: 300px;
    max-width: 425px;
    margin: 32px auto 0;
    border: solid #C4974F;
    border-radius: 10px;
}

main form h2 {
    font-size: 2em;
    text-align: center;
    padding: 34px 0 14px;
}

main form #cliente {
    text-align: center;
    border: none;
}

main form fieldset {
    border: none;
}

main .invisivel {
    display: none;
}

main form #barbearia {
    padding: 15px;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 10px;
}

main input,
main form input[type="file"],
main textarea,
main select {
    width: 80%;
    outline: none;
    color: #fff;
    padding: 4px;
    display: block;
    margin: 13px auto;
    background-color: transparent;
    border: none;
    border-bottom: 1.7px solid #C4974F;
}

main textarea {
    resize: vertical;
    /* permite aumentar só pra baixo */
    /* color: #b88738; */
}

main form textarea::placeholder {
    color: #b88738;
    opacity: 0.8;
}

main form input::placeholder {
    color: #b88738;
    font-size: 1.3em;
}

main form #botaoArquivo,
main form #botaoArquivo2 {
    display: inline-block;
    width: 80%;
    padding: 6px;
    border-bottom: 1.7px solid #C4974F;
    margin: 15px auto;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
}

main form #botaoArquivo:hover {
    background-color: #3a3a3a;
}

main form fieldset button,
main div #button,
main .buttonBonito,
main #buttonBonito,
main #buttonBonito2 {
    cursor: pointer;
    font-weight: bold;
    margin: 30px auto 10px;
    background-color: #F5A623;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    transition: .5s;
    padding: 8px 40px;
    opacity: .8;
}

main form fieldset button:hover,
main div #button:hover,
main .buttonBonito:hover {
    font-size: 1.2em;
    padding: 12px 50px;
    opacity: 1;
}

main form fieldset p {
    margin: 15px auto;
}

main form fieldset p a {
    color: #ad700e;
}

/* CSS busca de barbearias */
main #caixapesquisa {
    width: 56%;
    height: 35px;
    box-shadow: 0px 6px 15px #ad700e;
    border-radius: 17px;
    background-color: #272727;
    margin: 25px auto;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    padding: 6px;

}

main #caixapesquisa img {
    width: 30px;
    rotate: 270deg;
}

main #caixapesquisa #barraDePesquisa {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}

main #caixaEstabelecimento,
main #agendamento {
    /* border: solid; */
    width: 85%;
    margin: auto;
}

main #caixaEstabelecimento .caixaGeral,
main #agendamento .caixaGeral {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 20px auto;
    width: 53%;
}

main #caixaEstabelecimento .caixaGeral .caixaBarbearia,
main #agendamento .caixaGeral .caixaBarbearia {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

main #caixaEstabelecimento .caixaGeral .fotoBarbearia,
main #agendamento .caixaGeral .fotoBarbearia {
    width: 120px;
    height: 120px;
}

main #caixaEstabelecimento .caixaGeral .caixaInformacoes,
main #agendamento .caixaGeral .caixaInformacoes {
    width: 70%;
    text-align: start;
    /* height: 150px; */
    /* border: solid; */
}

main #caixaEstabelecimento .caixaGeral .caixaInformacoes .nomeEstabelecimento,
main #agendamento .caixaGeral .caixaInformacoes .nomeEstabelecimento {
    /* margin: 0; */
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: none;
    color: #C4974F;
}

main #caixaEstabelecimento .active,
main #agendamento .active {
    flex-wrap: wrap;
}


main #caixaEstabelecimento .active .seta,
main #agendamento .active .seta {
    rotate: 90deg;
}

main #caixaEstabelecimento .caixaInvisivel,
main #agendamento .caixaInvisivel,
main #caixaEstabelecimento .salvarBarbearia {
    display: none;
}

main #caixaEstabelecimento .active .caixaInvisivel,
main #agendamento .active .caixaInvisivel {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

main #caixaEstabelecimento .active .salvarBarbearia {
    display: block;
}

/* CSS Info Conta Cliente */
main #caixa .margem {
    margin: 30px 1px;
}

/* CSS Gerencia Estabelecimento */
:root {
    .fc .fc-daygrid-day-number {
        color: white;
    }
}

/* CSS DO GERENCIA ESTABELECIMENTO */
#calendar {
    max-width: 900px;
    margin: 20px auto;
    background: #000000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #f5a623;
}

#horarios {
    display: none;
    margin-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.hora-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #F5A623;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

.hora-btn:hover {
    background-color: #f5a523d2;
}

.hora-btn.selecionada {
    background-color: #575656;
    color: white;
}

#caixaFuncionario {
    display: flex;
    width: 80%;
}

.funcionario {
    width: 140px;
    height: 200px;
    align-content: center;
    background-color: rgb(73 73 73);
    border-radius: 10px;
    border: solid;
    cursor: pointer;
    margin: 20px;
}

main .funcionario .buttonBonito {
    margin: 0px;
}

.funcionario img {
    width: 115px;
    height: 115px;
    margin: 10px;
    border-radius: 10px;
}

:root {
    --fc-bg-event-opacity: 1;
}

#formFuncionario select {
    width: 80%;
    padding: 6px;
    margin-bottom: 10px;
    border-bottom: 1.7px solid #C4974F;
    outline: none;
    color: #C4974F;
    background-color: #000000;
    font-size: 1em;
}

#formFuncionario input[type="file"] {
    border: none;
    padding: 6px 0;
    color: #b88738;
}

#formFuncionario h4 {
    margin-top: 15px;
    color: #daa248;
    font-weight: normal;
}

#diasHorariosContainer {
    background: #201F1F;
    padding: 10px;
    border-radius: 8px;
    max-height: 200px;
    width: 70%;
    margin: auto;
    overflow-y: auto;
    border: 1px solid #C4974F;
    color: #C4974F;
}

#diasHorariosContainer {
    background: #201F1F;
    padding: 15px 10px;
    border-radius: 10px;
    max-height: 220px;
    width: 80%;
    margin: 15px auto;
    overflow-y: auto;
    border: 1px solid #C4974F;
    color: #C4974F;
    box-shadow: 0 0 10px rgba(196, 151, 79, 0.2);
    scrollbar-width: thin;
    scrollbar-color: #C4974F #1b1b1b;
}

/* Barrinha de rolagem mais bonita */
#diasHorariosContainer::-webkit-scrollbar {
    width: 6px;
}

#diasHorariosContainer::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-radius: 10px;
}

#diasHorariosContainer::-webkit-scrollbar-thumb {
    background-color: #C4974F;
    border-radius: 10px;
}

/* Cada linha de dia e horário */
#diasHorariosContainer div {
    display: flex;
    align-items: center;
    word-wrap: none;
    justify-content: space-between;
    background-color: #151615;
    border: 1px solid #2d2d2d;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 8px 0;
    transition: 0.3s;
}

#diasHorariosContainer div:hover {
    background-color: #292929;
    border-color: #C4974F;
}

/* Label e input dentro de cada linha */
#diasHorariosContainer label {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#diasHorariosContainer input {
    flex: 1;
    text-align: end;
}

/* Quando o usuário passa o mouse ou foca */
#diasHorariosContainer input:focus {
    border-bottom: 1px solid #F5A623;
}

@media (max-width: 767px) {
    /* textos que só precisavam deixar a fonte menor */
    main .caixaGeral .localizacao,
    main .caixaGeral .contato,

    main form fieldset p,
    main input,

    .labelArquivo,
    .spanArquivo main #link,

    #link a,

    main .caixaFuncionario p,
    main .caixaServico p,
    main #resultado p,
    main .ps,
    main .funcionarioSelecionado p,
    .fc .fc-daygrid-day-number,
    .fc,
    main .funcionario p {
        font-size: .8em;
    }

    main form fieldset button:hover,
    main div #button:hover,
    main .buttonBonito:hover {
        font-size: 1em;
        padding: 7px 20px;
    }

    /* CSS MOBILE INDEX */
    header {
        width: 100%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .navNormal {
        display: none;
    }

    header nav .mobileMenu,
    header nav .logoMobile {
        display: block;
    }

    header nav .mobileMenu {
        width: 30px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        cursor: pointer;
        transition: .8s;
    }

    header nav .mobileMenu div {
        width: 26px;
        height: 2px;
        background: white;
        margin: 4px;
        transition: 0.3s;
    }

    header .navMobile.show {
        display: block;
        height: 100%;
    }

    header .navMobile {
        width: 50%;
        left: 0;
        top: 0px;
        background-color: #151615;
        position: absolute;
        z-index: 3;
    }

    header hr {
        margin: 40px;
    }

    header .linha1.active {
        transform: rotate(50deg);
        position: relative;
        top: 1px;
    }

    header .linha2.active {
        opacity: 0;
    }

    header .linha3.active {
        transform: rotate(-50deg);
        position: relative;
        top: -19px;
    }

    main .titulos {
        margin: 2px;
        font-size: 1.2em;
        font-weight: 100;
    }

    main .caixaGeral {
        padding: 5px 0;
    }

    main .nomeEstabelecimento,
    main .caixaGeral p span,
    main .caixaGeral p,
    main #quemSomos p {
        width: 80%;
        font-size: .8em;
        margin: 2px auto;
    }

    main .caixaGeral .nomeEstabelecimento {
        margin-left: 15px;
    }

    main .caixaGeral .avaliacao {
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        padding: 8px;
    }

    main .caixaGeral .avaliacao img {
        max-width: 50px;
        margin-left: -30px;
    }

    main #cardsQuemSomos {
        display: none;
    }

    main #quemSomos .alinhamento {
        flex-direction: column;
    }

    main #quemSomos .alinhamento #imagens img {
        max-width: 285px;
        height: 165px;
        margin: 5px;
    }

    main .caixaGeral .sinopse,
    main #quemSomos .alinhamento p {
        width: 100%;
        font-size: .8em;
    }

    /* CSS MOBILE BUSCA.HTML */
    main #caixapesquisa {
        width: 97%;
    }

    main #caixaEstabelecimento .caixaGeral {
        width: auto;
    }

    main #caixaEstabelecimento .caixaGeral:hover {
        scale: 1;
    }

    main #caixaEstabelecimento .caixaGeral .fotoBarbearia,
    main #agendamento .caixaGeral .fotoBarbearia {
        width: 68px;
        height: 68px;
    }

    main #caixaEstabelecimento .active .caixaInvisivel {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    main #caixaEstabelecimento .caixaGeral .caixaInvisivel .fotoBarbearia {
        width: 275px;
        height: 90px;
    }

    main #caixaEstabelecimento .caixaGeral .caixaInformacoes .nomeEstabelecimento {
        font-size: 1.2em;
    }

    main .seta {
        width: 20px;
        height: 25px;
        margin: 0;
    }

    /* CSS MOBILE CADASTROS */
    main .alinhamento .caixas {
        width: 110px;
        height: 120px;
        padding: 12px;
        margin: 2px;
    }

    main .alinhamento .caixas img {
        height: 70px;
        width: 70px;
    }

    main .alinhamento .caixas p {
        font-size: .6em;
    }

    main form,
    main #caixa {
        width: 80%;
    }

    /* CSS MOBILE ESTABELECIMENTO  */
    main h2,
    main form h2,
    main h3 {
        font-size: 1em;
        margin: 10px;
    }

    main .ps {
        width: 85%;
    }

    main .buttonBonito,
    main #caixa #button {
        font-size: .72em;
        padding: 8px 25px;
    }

    main #horarios {
        width: 95%;
    }

    main .horario {
        margin: 7px;
        padding: 9px 0px;
        width: 60px;
        font-size: 0.8em;
    }

    .hora-btn {
        padding: 6px 15px;
        font-size: .8em;
    }

    main .caixaFuncionario button,
    main .funcionarioSelecionado button {
        width: 90%;
        font-size: 0.6em;
    }

    main .caixaFuncionario img,
    main .funcionarioSelecionado img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    main .caixa-confirmacao {
        width: 310px;
    }

    main .caixa-confirmacao button {
        margin: 0px;
    }

    main .funcionario img {
        width: 90px;
        height: 115px;
    }

    main #funcionario img {
        width: 90px;
        height: 90px;
    }
}